@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, monospace;
  --font-serif: "Inria Serif", Georgia, serif;

  --font-primary: var(--font-inter);
  --font-secondary: var(--font-krub);
}

